# Virtual Environment (The biggest junk)
Lib/
Scripts/
etc/
share/
pyvenv.cfg
include/

# Python Cache
__pycache__/
*.pyc
src/__pycache__/

# Large Data Files (Keep your code, but ignore the 100MB+ CSVs)
data/
*.csv

# OS metadata
.DS_Store
Thumbs.db